*{
    margin: 0;
    padding: 0;
}
h1{
    color: white;
}

body{
    background-color: rgb(16, 150, 155);
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 0 0 1rem;
    font-size: 8vmin;
    color: brown;
}

#restart{
    padding: 0.7rem;
    font-size: 1.25rem;
    background-color: rgb(190, 4, 4);
    color: white;
    border-radius: 1rem;
    
    
}

#new-btn{
    padding: 0.7rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
}

#msg{
    color: white;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.hide{
    display: none;
}